// Variables

// Breakpoints

// TODO: Restucture - to much repetion
$bp-larger-than-mobile    : "min-width: 400px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

// Color
$white: #FFFFF !default;
$light-gray: #E0E0E0 !default;
$dark-gray: #333 !default
$black: #212121 !default;;
$lt-blue: #03A9F4 !default;;
$blue: #42A5F5 !default;;
$blue-gray: #607D8B !default;;
$orange: #F44336 !default;;
$base-color: $black !default;;
$primary-color: $blue !default;
$secondary-color: $orange !default;
$tertiary-color: $blue-gray !default;
$link-color: $white !default;
$font-color: #000 !default;
$border-color: #E8E8E8 !default;

// Typography
$font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

// Grid Variables
$container-width: 960px !default;
$container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: 80% !default;
$total-cols: 12 !default;
$col-width: 100 / $total-cols !default; // Calcs individual width base off of number of cols
$col-margin: 4% !default;

// Border-radius
$global-radius: 4px;

$book: 200 !default;
$medium: 400 !default;
$bold: 600 !default;
