doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel='stylesheet', href='css/skeleton.css', type='text/css')
  body
    //- Navigation
    .nav
      .nav-header
        .nav-title
          | JoGeek
      .nav-btn
        label(for='nav-check')
          span
          span
          span
      input#nav-check(type='checkbox')
      .nav-links
        a(href='//github.io/jo_geek', target='_blank') Github
        a(href='http://stackoverflow.com/users/4084003/', target='_blank') Stackoverflow
        a(href='https://in.linkedin.com/in/jonesvinothjoseph', target='_blank') LinkedIn
        a(href='https://codepen.io/jo_Geek/', target='_blank') Codepen
        a(href='https://jsfiddle.net/user/jo_Geek/', target='_blank') JsFiddle
    
    //- _Typography
    .container
      .row
        .twelve.cols
          h1 _Typography
          hr 
          h1 H1 - Header
          h2 H2 - Header
          h3 H3 - Header
          h4 H4 - Header
          h5 H5 - Header
          h6 H6 - Header
    .container
      .row
        h3.book Book
        h3.medium Medium
        h3.bold Bold 
    .container
      .row
        .pre
          .code
            h1 a H1 header tag - h1     
      hr
    //- _Grid
    .container
      .row
        .twelve.cols 
          h1 _Grid
    .container
      .row
        .one.col One Column
        .eleven.cols Twleve Columns
    .container
      .row    
        .two.cols Two Columns
        .ten.cols Ten Columns  
      hr
    //- _Buttons
    .container
      .row
        h1  _Buttons
    .container      
      .row
        .btn.btn-primary btn.btn-primary
        .btn.btn-secondary btn.btn-secondary
      hr
      //- _List
    .container
      .row
        h1  _List
    .container
      .row
        .twelve.cols
          ul
            li ordered list item
      .row
        .twelve.cols
          ol
            li  unordered list item
