.background-white{
  background-color: $white;
  color: $black;
}
.background-blue{
  background-color: $blue;
  color: $white;
}
.background-black{
  background-color: $black;
  color: $white;
}
.background-dark-gray{
  background-color: $dark-gray;
  color: $white;
}
